
<footer>
        <main class="jumbotron bg-secondary">
            <div class="row">
            <div class="jumbotron bg-secondary col-1">
              
        
            </div>
        
          <div class="jumbotron  text-dark col-11 text-center" 	style="background-color:	#BCD4E6">
              <h1>YOU LIKE ?</h1>
        
        
            </div>
        
           
            </div>
    
            <div class="container-fluid bg-secondary mx-auto text-center" style="margin-left:-35px">
    
             
              <h4>
                FAQ
              </h4>
              <h4>
                    RETURNS
                </h4> 
                <h4>
                    CONTACT
                  </h4> 
                  <h4>
                      FIND US
                    </h4>
                     <h4>
                        OUR SERVICES
                      </h4>
    
                    <h6>  <i class="material-icons">
                          android
                          </i>
                          <i class="material-icons">
                              location_city
                              </i>
                              <i class="material-icons">
                                  public
                                  </i>
                                  <i class="material-icons">
                                      school
                                      </i>
                                      <i class="material-icons">
                                          domain
                                          </i>
                                          <i class="material-icons">
                                              party_mode
                                              </i>
                                              <i class="material-icons">
                                                  cloud
                                                  </i></h6>
            </div>
          </main>
    </footer>
