<nav>
        <div class="nav nav-tabs nav justify-content-end" id="nav-tab" role="tablist"   style=" background-color:	#4496d1;">
          <a class="nav-item nav-link "  style="color: #1C352D "id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Personal Information</a>
          <a class="nav-item nav-link " style="color:	#1C352D " id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Educational Information</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    
    
            <div  class="container col-sm-8 mx-auto">
                <h1> Personal Information </h1>
              <div class="form-group">
                                      <label for="formGroupExampleInput">Name of the Candidate</label>
                                    <Strong><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Seban Joseph" readonly ></Strong>
              </div>
              <div class="form-row">
          
                                      <div class="form-group col-md-6">
                                          <label for="inputEmail4">Mobile</label>
                                         <b><input type="email" class="form-control" id="inputEmail4" placeholder="+91 9999999999" readonly ="readonly"></b>
                                      </div>
          
                                      <div class="form-group col-md-6">
                                          <label for="inputPassword4">E-mail</label>
                                         <input type="email" class="form-control" id="inputPassword4" placeholder="abc@abc.com" readonly ="readonly">
                                      </div>
                                  </div>
          
          
                <div class="form-row">
                                      <div class="col-md-6 mb-3">
                                          <label for="validationCustom03">Date of Birth</label>
                                          <b><input type="text" class="form-control" id="validationCustom03" placeholder="21 Jun 1989" readonly ="readonly"></b>
          
                                      </div>
                                      <div class="col-md-3 mb-3">
                                          <label for="validationCustom04">Aadhar Number</label>
                                         <b><input type="text" class="form-control" id="validationCustom04" placeholder="1234 3434 2342" readonly ="readonly"></b>
          
                                      </div>
                                      <div class="col-md-3 mb-3">
                                          <label for="validationCustom05">Gender</label>
                                          <b><input type="text" class="form-control" id="validationCustom05" placeholder="Male" readonly="readonly"></b>
          
                                      </div>
                  </div>
                  <hr>
          
                            <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="inputemail">Program Applied For &nbsp;<span style="color:red">*</span></label>
                                          <select id="inputState" class="form-control">
                                              <option selected>Select Program</option>
                                              <option>...</option>
                                          </select>
          
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label for="inputPassword4">Department &nbsp;<span style="color:red">*</span></label>
                                          <input type="email" class="form-control" id="inputPassword4" placeholder="">
                                      </div>
                              </div>
          
                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="inputEmail4">Father's Name &nbsp;<span style="color:red">*</span></label>
                                          <input type="email" class="form-control" id="inputPassword4" placeholder="Enter Name">
          
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label for="inputPassword4">Mother's Name &nbsp;<span style="color:red">*</span></label>
                                          <input type="email" class="form-control" id="inputPassword4" placeholder="Enter Name">
                                      </div>
                    </div>
          
          
                             <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="inputEmail4">Residence/Domicle &nbsp;<span style="color:red">*</span></label>
                                          <select id="inputState" class="form-control">
                                              <option selected>Haryana</option>
                                              <option>...</option>
                                          </select>
          
                                      </div>
          
                                      <div class="form-group col-md-4">
                                          <label for="inputCity">Domicile certificate &nbsp;<span style="color:red">*</span></label>
                                          <div class="custom-file">
                                              <input type="file" class="custom-file-input" id="customFile">
                                              <label class="custom-file-label" for="customFile">File can exceed only 5MB</label>
                                          </div>
                                      </div>
                                  </div>
          
          
                            <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="inputEmail4">Nationality &nbsp;<span style="color:red">*</span></label>
                                          <select id="inputState" class="form-control">
                                              <option selected>India</option>
                                              <option>...</option>
                                          </select>
                                      </div>
                                  </div>
          
                  
          
                                 <h3>Correspondance Address</h3>
          
                                  <div class="form-group">
                                      <label for="Input1">Address &nbsp;<span style="color:red">*</span></label>
                                      <input type="Address" class="form-control" id="exampleFormControlInput1" placeholder="Address Line 1">
                                      <h6>
                                          &nbsp;&nbsp;
                                      </h6>
                                      <input type="Address" class="form-control" id="exampleFormControlInput1" placeholder="Address Line 2">
                                  </div>
          
                                  <div class="form-row">
                                      <div class="col-md-4 mb-3">
                                          <label for="validationTooltip01">ZIP Code &nbsp;<span style="color:red">*</span></label>
                                          <input type="text" class="form-control" id="validationTooltip01" placeholder="Code">
                                      </div>
                                      <div class="col-md-4 mb-3">
                                          <label for="inputemail">City/twon &nbsp;<span style="color:red">*</span></label>
                                          <select id="inputState" class="form-control">
                                              <option selected>Select</option>
                                              <option>...</option>
                                          </select>
                                      </div>
                                      <div class="col-md-4 mb-3">
                                          <label for="inputemail">State &nbsp;<span style="color:red">*</span></label>
                                          <select id="inputState" class="form-control">
                                              <option selected>Select</option>
                                              <option>...</option>
                                          </select>
                                      </div>
                                 
                                  <div class="col-md-6 mb-3">
                                      <label for="validationDefault03">Phone Number</label>
                                      <input type="text" class="form-control" id="validationDefault03" placeholder="Enter Number">
                                  </div>
                          
                                   </div>
          
          
          
          
                         <h3>Permanent Address</h3>
          
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="autoSizingCheck2">
                              <label class="form-check-label" for="autoSizingCheck2">
                                  Same as Correspondace Address
                              </label>
                          </div>
                          <div class="form-group">
                              <label for="Input1">Address &nbsp;<span style="color:red">*</span></label>
                              <input type="Address" class="form-control" id="exampleFormControlInput1" placeholder="Address Line 1">
                              <h6>
                                  &nbsp;&nbsp;
                              </h6>
                              <input type="Address" class="form-control" id="exampleFormControlInput1" placeholder="Address Line 2">
                          </div>
          
                          <div class="form-row">
                              <div class="col-md-4 mb-3">
                                  <label for="validationTooltip01">ZIP Code &nbsp;<span style="color:red">*</span></label>
                                  <input type="text" class="form-control" id="validationTooltip01" placeholder="Code">
                              </div>
                              <div class="col-md-4 mb-3">
                                  <label for="inputemail">City/twon &nbsp;<span style="color:red">*</span></label>
                                  <select id="inputState" class="form-control">
                                      <option selected>Select</option>
                                      <option>...</option>
                                  </select>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <label for="inputemail">State &nbsp;<span style="color:red">*</span></label>
                                  <select id="inputState" class="form-control">
                                      <option selected>Select</option>
                                      <option>...</option>
                                  </select>
                              </div>
                          
                          <div class="col-md-6 mb-3">
                              <label for="validationDefault03">Phone Number</label>
                              <input type="text" class="form-control" id="validationDefault03" placeholder="Enter Number">
                          </div>       
                            </div>
          
          
                       <h3>Occupation</h3>
          
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label for="inputEmail4">Father's Occupation &nbsp;<span style="color:red">*</span></label>
                                  <select id="inputState" class="form-control">
                                      <option selected>Select</option>
                                      <option>...</option>
                                  </select>
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputEmail4">Mother's Occupation &nbsp;<span style="color:red">*</span></label>
                                  <select id="inputState" class="form-control">
                                      <option selected>Select</option>
                                      <option>...</option>
                                  </select>
                              </div>
                          </div>
          
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label for="inputEmail4">Annual Income of Father &nbsp;<span style="color:red">*</span></label>
                                  <select id="inputState" class="form-control">
                                      <option selected>Select</option>
                                      <option>...</option>
                                  </select>
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputEmail4">Annual Income of Mother &nbsp;<span style="color:red">*</span></label>
                                  <select id="inputState" class="form-control">
                                      <option selected>Select</option>
                                      <option>...</option>
                                  </select>
                              </div>
                          </div>
          
          
          
          
                  <h3>Upload Images</h3>
          
                          <div class="form-row">
                              <div class="form-group col-md-4">
                                  <label for="inputCity">Passport Size Photograph*</label>
                                  <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="customFile">
                                      <label class="custom-file-label" for="customFile">File can exceed only 5MB</label>
                                  </div>
                              </div>
                          </div>
          
                          <div class="form-row">
                              <div class="form-group col-md-4">
                                  <label for="inputCity">Signature*</label>
                                  <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="customFile">
                                      <label class="custom-file-label" for="customFile">File can exceed only 5MB</label>
                                  </div>
                              </div>
                          </div>
          <hr>
          
          
                          <button  type="button" class="btn btn-lg" style="background-color: orange; border-radius: 25px;">Save & Continue</button>
            <hr>
            </div>
          
    
    
    
    
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    
    
    
    
    
            <div class="container col-sm-8 mx-auto">
     
                <h1>Examinations Passed</h1>
                               <div class="form-row">
                                   <div class="form-group col-md-6">
                                       <label for="inputState">Exam Name &nbsp;<span style="color:red">*</span></label>
                                       <select id="inputState" class="form-control">
                                           <option selected>Select Program</option>
                                           <option></option>
                                       </select>
                                   </div>
                               </div>
               
                               <div class="form-row">
                                   <div class="form-group col-md-6">
                                       <label for="inputCity">University/Board/Dept.from which passed &nbsp;<span style="color:red">*</span></label>
                                       <input type="text" class="form-control" id="inputCity" placeholder="Enter Name">
                                   </div>
                                   <div class="form-group col-md-4">
                                       <label for="inputState">Year of Passing &nbsp;<span style="color:red">*</span></label>
                                       <select id="inputState" class="form-control">
                                           <option selected>2012</option>
                                           <option>...</option>
                                       </select>
                                   </div>
                               </div>
               
                               <div class="form-row">
                                   <div class="form-group col-md-6">
                                       <label for="inputEmail4">Roll Number &nbsp;<span style="color:red">*</span></label>
                                       <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Name">
                                   </div>
                                   <div class="form-group col-md-6">
                                       <label for="inputPassword4">Credit based system(CGPA/Marks system) &nbsp;<span style="color:red">*</span></label>
                                       <input type="password" class="form-control" id="inputPassword4" placeholder="Enter Name">
                                   </div>
                               </div>
               
                               <div class="form-row">
                                   <div class="form-group col-md-6">
                                       <label for="inputEmail4">CGPA Scale/Max Marks &nbsp;<span style="color:red">*</span></label>
                                       <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Name">
                                   </div>
                                   <div class="form-group col-md-6">
                                       <label for="inputPassword4">Obtain CGPA/Obtianed Marks &nbsp;<span style="color:red">*</span></label>
                                       <input type="password" class="form-control" id="inputPassword4" placeholder="Enter Name">
                                   </div>
                               </div>
               
                               <div class="form-row">
                                   <div class="form-group col-md-6">
                                       <label for="inputCity">Percentage of marks obtained &nbsp;<span style="color:red">*</span></label>
                                       <input type="text" class="form-control" id="inputCity" placeholder="Enter Name">
                                   </div>
                                   <div class="form-group col-md-4">
                                       <label for="inputState">Division &nbsp;<span style="color:red">*</span></label>
                                       <select id="inputState" class="form-control">
                                           <option selected>Select</option>
                                           <option>...</option>
                                       </select>
                                   </div>
                               </div>
                               <hr>
               
                               <button  type="button" class="btn btn-lg" style="background-color: #33cccc ; border-radius: 25px;">Add More Exam</button>
               
               
               <hr>
               
               
               
                            <h3>Required Documents</h3>
               
                               <p>Attach the file from your computer in .jpg .png .pdf formats not exceeding 5 MB</p>
               
                               <div class="form-row">
                                   <div class="form-group col-md-4">
                                       <label for="inputCity">10th certificate &nbsp;<span style="color:red">*</span></label>
                                       <div class="custom-file">
                                           <input type="file" class="custom-file-input" id="customFile">
                                           <label class="custom-file-label" for="customFile">Choose file</label>
                                       </div>
                                   </div>
               
                                   <div class="form-group col-md-4">
                                       <label for="inputCity">12th certificate &nbsp;<span style="color:red">*</span></label>
                                       <div class="custom-file">
                                           <input type="file" class="custom-file-input" id="customFile">
                                           <label class="custom-file-label" for="customFile">Choose file</label>
                                       </div>
                                   </div>
                               </div>
               
                               <div class="form-row">
                                   <div class="form-group col-md-4">
                                       <label for="inputCity">Marksheet of Qualifying Examination &nbsp;<span style="color:red">*</span></label>
                                       <div class="custom-file">
                                           <input type="file" class="custom-file-input" id="customFile">
                                           <label class="custom-file-label" for="customFile">Choose file</label>
                                       </div>
                                   </div>
               
                                   <div class="form-group col-md-4">
                                       <label for="inputCity">latest Character Certification &nbsp;<span style="color:red">*</span></label>
                                       <div class="custom-file">
                                           <input type="file" class="custom-file-input" id="customFile">
                                           <label class="custom-file-label" for="customFile">Choose file</label>
                                       </div>
                                   </div>
                               </div>
               
                               <div class="form-row">
                                   <div class="form-group col-md-4">
                                       <label for="inputCity">Income Certificate if required &nbsp;<span style="color:red">*</span></label>
                                       <div class="custom-file">
                                           <input type="file" class="custom-file-input" id="customFile">
                                           <label class="custom-file-label" for="customFile">Choose file</label>
                                       </div>
                                   </div>
               
                                   <div class="form-group col-md-4">
                                       <label for="inputCity">Certificate of gap year if any &nbsp;<span style="color:red">*</span></label>
                                       <div class="custom-file">
                                           <input type="file" class="custom-file-input" id="customFile">
                                           <label class="custom-file-label" for="customFile">Choose file</label>
                                       </div>
                                   </div>
                               </div>
               
                               <label for="inputCity">Under which catagory are you applying for?</label> <br>
                               <div class="form-check form-check-inline">
                                   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                   <label class="form-check-label" for="inlineRadio1">open</label>
                               </div>
                               <div class="form-check form-check-inline">
                                   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                   <label class="form-check-label" for="inlineRadio2">Reserved</label>
                               </div> <br>
               
                               <div class="form-row">
                                   <div class="form-group col-md-5">
                                       <label for="inputState">Select Category</label>
                                       <select id="inputState" class="form-control">
                                           <option selected>Select</option>
                                           <option>...</option>
                                       </select>
                                   </div>
               
                                   <div class="form-group col-md-4">
                                       <label for="inputCity">Category Certificate &nbsp;<span style="color:red">*</span></label>
                                       <div class="custom-file">
                                           <input type="file" class="custom-file-input" id="customFile">
                                           <label class="custom-file-label" for="customFile">File can exceed only 5MB</label>
                                       </div>
                                   </div>
               
                               </div>
               
                               <label for="inputCity">Are you entitled for the scholarship to be awarded by the haryana Govt.</label> <br>
                               <div class="form-check form-check-inline">
                                   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                   <label class="form-check-label" for="inlineRadio1">Yes</label>
                               </div>
                               <div class="form-check form-check-inline">
                                   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                   <label class="form-check-label" for="inlineRadio2">No</label>
                               </div> <br>
               
                               <div class="form-row">
                                   <div class="form-group col-md-4">
                                       <label for="inputCity">if Yes, attach a support document &nbsp;<span style="color:red">*</span></label>
                                       <div class="custom-file">
                                           <input type="file" class="custom-file-input" id="customFile">
                                           <label class="custom-file-label" for="customFile">File can exceed only 5MB</label>
                                       </div>
                                   </div>
                               </div>
               
                               <label for="inputCity">
                                   Are you entitled for stipend to BC students under
                                   State Scheduled Case welfare scheme
                               </label> <br>
                               <div class="form-check form-check-inline">
                                   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                   <label class="form-check-label" for="inlineRadio1">Yes</label>
                               </div>
                               <div class="form-check form-check-inline">
                                   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                   <label class="form-check-label" for="inlineRadio2">NO</label>
                               </div><br>
               
                               <div class="form-row">
                                   <div class="form-group col-md-4">
                                       <label for="inputCity">if Yes, attach a support document &nbsp;<span style="color:red">*</span></label>
                                       <div class="custom-file">
                                           <input type="file" class="custom-file-input" id="customFile">
                                           <label class="custom-file-label" for="customFile">File can exceed only 5MB</label>
                                       </div>
                                   </div>
                               </div>
               
                               <label for="inputCity">
                                   Have you ever been expelled/rusticated/punised on account of
                                   of miscounduct or discipline by any of the institutions you have stuied in?
                               </label> 
                               <br>
                               <div class="form-check form-check-inline">
                                   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                   <label class="form-check-label" for="inlineRadio1">Yes</label>
                               </div>
                               <div class="form-check form-check-inline">
                                   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                   <label class="form-check-label" for="inlineRadio2">No</label>
                               </div>
                               <br>
               <hr>
                               <button  type="button" class="btn btn-lg" style="background-color: orange;border-radius: 25px;">Save & Continue</button>
              
              
                               <hr>
                            
               </div>
               
              
        </div>
     
      </div>
    