<main class="jumbotron" style=" background-color:	#003153;">
        <div class="row">
        <div class="jumbotron bg-success col-3 ml-5">
          
   
           <div class="card col-12" style="width: 18rem;">
               <img src="https://media1.giphy.com/media/buNgwJ34RZBGo/giphy.gif"
                class="card-img-top" alt="Responsive">
               <div class="card-body">
                 <h5 class="card-title">Description</h5>
                 <hr>
                 <p class="card-text"> content</p>
                
               </div>
             </div>
    
        </div>
    
      <div class="jumbotron bg-dark text-white col-3 ml-5">
         
   
   
         <div class="card col-12" style="width: 18rem;">
             <img src="https://static.production.thenounproject.com/assets/bundles/ddc4493802a9430e4be5cbfa95d85087.gif"
              class="card-img-top" alt="Responsive">
             <div class="card-body">
               <h5 class="card-title text-dark">Describe </h5>
               <hr>
               <p class="card-text text-dark"> content</p>
               
             </div>
           </div>
    
        </div>
    
        
    
        <div class="jumbotron bg-warning text-white col-3 ml-5">
            
   
   
           <div class="card col-12" style="width: 18rem;">
               <img src="https://media1.giphy.com/media/hygwUR72zvbUc/giphy.gif"
                class="card-img-top" alt="Responsive">
               <div class="card-body" >
                 <h5 class="card-title text-dark">Description </h5>
                 <hr>
                 <p class="card-text text-dark"> 
                   content
                 
                 </p>
                 
               </div>
             </div>
      
          </div>
    
        </div>
<div class="text-right">
        <a href="#" class="btn btn-primary ">Learn More</a>
      </div>
      </main>
    